// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
  color: #606060;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

body {
  background-color:#FBF0FF;
}

nav {
    margin-top: -23px;
    padding-top: 10px;
}

.btn-outline-success {
  color: #aa4cd3;
  border-color: #aa4cd3;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #aa4cd3;
  border-color: #aa4cd3;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(170, 76, 211, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #aa4cd3;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #aa4cd3;
  border-color: #aa4cd3;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(170, 76, 211, 0.5);
}

.border-success {
  border-color: #aa4cd3 !important;
}

.body-inner-of-index {
  
    .card-body {
      font-size: 1.0rem;
    }
  
    .index-paginate {
        .pagination {
            margin:15px auto;
            text-align: center;
        }
    }
    
}

.header-end {
  background-image: repeating-linear-gradient(45deg, #aa4cd3, #aa4cd3 3px, white 3px, rgba(170, 76, 211, 0.7) 6px);
  height: 5px;
  width: 100%;
}

.navbar {
  
}