// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*:focus {
  outline: none !important;
  box-shadow:none !important;
}

a {
  color: #606060;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #aa4cd3;
  text-decoration: none;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

p {
  color: #606060;
  text-decoration: none;
  background-color: transparent;
}

body {
  background-color:#FBF0FF;
  @media screen and (max-width: 576px) {
    background-color: #fff;
  }
}


.btn-success {
  color: #fff;
  background-color: #aa4cd3;
  border-color: #aa4cd3;
}

.btn-success:hover {
  color: #fff;
  background-color: #9e43cc;
  border-color: #9e43cc;
}

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #aa4cd3;
  border-color: #aa4cd3;
  box-shadow: 0 0 0 0.2rem rgba(170, 76, 211, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #aa4cd3;
  border-color: #aa4cd3;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #aa4cd3;
  border-color: #aa4cd3;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(170, 76, 211, 0.5);
}

.btn-outline-success {
  color: #aa4cd3;
  border-color: #aa4cd3;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #aa4cd3;
  border-color: #aa4cd3;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(170, 76, 211, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #aa4cd3;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #aa4cd3;
  border-color: #aa4cd3;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(170, 76, 211, 0.5);
}

.border-success {
  border-color: #aa4cd3 !important;
}




#app {
  
  nav {
      margin-top: -23px !important;
      padding-top: 10px;
      
      .nav-menu-link {
        background-color: transparent !important;
        color: #606060 !important;
        font-size: 1.1rem !important;
        text-decoration: none !important;
        
        &:hover{
          color: #aa4cd3 !important;
        }
      }
  }
  
  .footer-logo {
    
    @media screen and (max-width: 576px) {
      text-align: center;
      width: 100%;
    }
    
    .footer-logo-img {
      width: 250px;
      
      @media screen and (max-width: 576px) {
        margin-bottom: 30px;
        width: 100px;
      }
    }
  }
  
  .footer-start {
    background-image: repeating-linear-gradient(45deg, #aa4cd3, #aa4cd3 3px, white 3px, rgba(170, 76, 211, 0.7) 6px);
    height: 5px;
    width: 100%;
  }
  
  .header-end {
    background-image: repeating-linear-gradient(45deg, #aa4cd3, #aa4cd3 3px, white 3px, rgba(170, 76, 211, 0.7) 6px);
    height: 5px;
    width: 100%;
  }
}

.auth-page {
  height: 90vh;
  
  .auth-page-link {
    background-color: transparent;
    color: #606060;
    font-size: 0.8rem !important;
    text-decoration:underline;
    
    &:hover{
      color: #aa4cd3;
    }
  }
  
  .auth-page-logo {
    margin-top: 5vh;
  }
  
  .card {
    margin-top: 5vh;
  }
}

.body-inner-of-index {
  
  .question{
    .card-body {
      font-size: 1.0rem;
    }
    .category-link {
      background-color: transparent;
      color: #606060;
      font-size: 1rem !important;
      text-decoration:underline;
      
      &:hover{
        color: #aa4cd3;
      }
    }
    
    .card-text:hover {
      color:#000 !important;
    }
    
    .good-btn {
      font-size: 1.0rem !important;
    }
    
    .index-paginate {
      .pagination {
          margin: 15px auto;
          text-align: center;
      }
    }
    
    .user-name {
      font-size: 1.2rem;
    }
  }
  
  .side-column {
    .category-index-title {
      border-bottom-width: 2px !important;
    }
    
    .category-index-btn {
      background-color: transparent !important;
      color: #606060 !important;
      font-size: 1.1rem !important;
      text-decoration: none !important;
      
      &:hover{
        background-color: #ebebeb !important;
        color: #aa4cd3 !important;
      }
    }
    
    .category-index-link {
      border-color: #e3e3e3 !important;
    }
    
    .good-ranking-btn {
      color: #606060;
      font-size: 17.6px;
      --font-family-sans-serif: "Nunito", sans-serif;
      
      &:hover{
        background-color: #ebebeb !important;
        color: #aa4cd3 !important;
      }
    }
  }
}

.modal {
  .modal-body {
    
  }
  
  .modal-footer {
    
  }

  .modal-header {
    
  }

  .modal-user-btn {
    color: #606060;
    font-size: 17.6px;
    --font-family-sans-serif: "Nunito", sans-serif;
    
    &:hover{
      background-color: #ebebeb !important;
      color: #aa4cd3 !important;
    }
  }
}
  
.question-show-inner {
  .question{
    border: thick solid rgba(170, 76, 211, 1.0) !important;
    
    .card-body {
      font-size: 1.0rem;
    }
    .category-link {
      background-color: transparent;
      color: #606060;
      font-size: 1.0rem !important;
    }
    
    .card-text:hover {
      color:#000 !important;
    }
    
    .detail-btn {
      background: none;
    	border: none;
    	outline: none;
    	-webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
    }
    
    .good-btn {
      font-size: 1.1rem !important;
    }
    
    .index-paginate {
      .pagination {
          margin:15px auto;
          text-align: center;
      }
    }
    
    .user-name {
      font-size: 1.2rem;
    }
  }
  
  .answers {
    .answer{
      border-top: thick solid rgba(170, 76, 211, 0.6) !important;
      border-left: thick solid rgba(170, 76, 211, 0.6) !important;
      border-right: thick solid rgba(170, 76, 211, 0.6) !important;
    }
    
    .card-body {
      font-size: 1.0rem;
    }
    
    .detail-btn {
      background: none;
    	border: none;
    	outline: none;
    	-webkit-appearance: none;
    	-moz-appearance: none;
    	appearance: none;
    }
    
    .good-btn {
      font-size: 1.1rem !important;
    }
    
    .index-paginate {
      .pagination {
          margin:15px auto;
          text-align: center;
      }
    }
    
    .user-name {
      font-size: 1.2rem;
    }
    
    .comment {
      border-left: thick dashed rgba(96, 96, 96, 0.6) !important;
      border-right: thick dashed rgba(96, 96, 96, 0.6) !important;
    }
    
    // もっと見る機能
    .list-item{
      opacity: 1;
    }
    .list-item.is-hidden {
      opacity: 0;
      height: 0;
      margin: 0;
    }
    .list-btn {
      margin-top: 20px;
    }
    .list-btn.is-btn-hidden{
      display:none;
    }
    .list-btn button {
      background-color: #333;
      color:#fff;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 0;
      height: 32px;
      line-height: 32px;
      width: 120px;
    }
  }
}
  

.user-show {
  .modal-open-btn {
    background: none;
  	border: none;
  	outline: none;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  }
  
  .profile-image {
    height: auto;
    width: 100%;
  }
  
  .profile-image-wrapper {
    padding: 1.5rem 20%;
  }
  
  .user-profile {
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    padding: 30px;
    position: relative;
    
    &:after {
      background: repeating-linear-gradient(45deg, #aa4cd3, #aa4cd3 3px, white 3px, rgba(170, 76, 211, 0.7) 6px);
      background-color: black;
      border-radius: 23px;
      content: '';
      position: absolute;
      top: -5px; bottom: -5px;
      left: -5px; right: -5px;
      z-index: -1;
    }
  }
}

// トップへ戻るボタン
  #page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #aa4cd3;
    opacity: 0.6;
    border-radius: 50%;
    z-index:10;
  
    & a{
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      text-decoration: none;
    
      &:before{
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f102';
        font-size: 25px;
        color: #fff;
        position: absolute;
        width: 25px;
        height: 25px;
        top: -3px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
      }
    }
  }
  
  
  // 各ページ画像表示用
  .image {
    height: 120px;
    object-fit: cover;
    
    @media screen and (max-width: 576px) {
      height: 90px;
    }
  }